.lmj-layout-inner {
	display: flex;
	flex-direction: row;
	min-height: calc(100vh - 200px);
	position: relative;
	padding-right: 0;
	transition: padding-right var(--transition-normal);
}

/* Add padding when cart is open to prevent content overlap */
.lmj-layout-inner.cart-open {
	padding-right: 400px;
}